* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
 margin: 0 auto;
 padding: 0;
 display: flex;
 flex-direction: column;
} 

.btn {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  padding: 8px 30px;
  cursor: pointer;
}

.section-1 {
  background-color: #1F2937;
  color: white;
  padding: 10px 110px 110px;
}

/* Navigation */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.header_logo {
  font-size: 24px;
  font-weight: 500;
  color: #F9FAF8;
}

.header_nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 300;
}

/* Header - hero part */

.header_section {
  display: flex;
  justify-content: space-between;
}

/* Left side */

.header_section--left {
  width: 275px;
}

.header_section--left h1 {
  font-weight: 900;
  font-size: 48px;
  color: #F9FAF8;
  margin-bottom: 3px;
}

.header_section--left p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 5px;
}

.header_section--btn {
  border: none;
  font-weight: 700;
}

/* Right side */

.header_section--right {
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_section--right img {
  width: 100%;
}

/* Section-2: 4 pictures */ 

.section-2 h2 {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  padding: 25px;
}

.section-2 {
  padding: 5px 120px 70px;

}

.s2_container {
  display: flex;
  justify-content: space-between;
}

.s2_container--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s2_container--box p {
  width: 100px;
  padding-top: 5px;
  text-align: center;
}

.empty-box {
  width: 100px;
  height: 100px;
  border: 2px solid #3882F6;
  border-radius: 8px;
}

/* Section 3: text on grey background */

.section-3 {
  background-color: #E5E7EB;
  padding: 60px 120px;
}

.section-3 blockquote {
  color: #1F2937;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
}

.section-3 cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

/* Section 4 - Call to action */

.s4_container {
  background-color: #3882F6;
  margin: 50px 70px;
  padding: 20px 50px;
}

.s4_action {
  display: flex;
  justify-content: space-between;
}

.s4_action--text h3 {
  color: #F9FAF8;
}

.s4_action--text p {
  color: #E5E7EB;
}

.s4_action button {
  border: 1px solid #eee;
}

p {
  font-size: 11px;
  font-weight: 300;
  line-height: 1.3;
}